<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
}

nav a:hover {
    background-color: white;
    color: black;
}
</style>
</head>
<body>
    <nav>
        <a th:href="@{/}">No filtering</a>
        <a th:href="@{/?filterSetId=1&maleSelected=true}">Filter by male</a>
        <a th:href="@{/?filterSetId=1&maleSelected=false}">Filter by female</a>
        <a th:href="@{/?filterSetId=2&asc=true}">Sort by first name and last name, Ascending</a>
        <a th:href="@{/?filterSetId=2&asc=false}">Sort by first name and last name, Descending</a>
        <a th:href="@{/?filterSetId=3&maleSelected=true&asc=true}">Filter by male. Sort by first name and last name, Ascending</a>
        <a th:href="@{/?filterSetId=3&maleSelected=true&asc=false}">Filter by male. Sort by first name and last name, Descending</a>
        <a th:href="@{/?filterSetId=3&maleSelected=false&asc=true}">Filter by female. Sort by first name and last name, Ascending</a>
        <a th:href="@{/?filterSetId=3&maleSelected=false&asc=true}">Filter by female. Sort by first name and last name, Descending</a>
    </nav>
    <table>
        <tr>
            <th>Код</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Очество</th>
            <th>Учебная группа</th>
            <th>Телефон</th>
            <th>Страна</th>
            <th>Город</th>
            <th>Адрес</th>
            <th>Пол</th>
            <th>Компьютерные сети</th>
            <th>Числовые методы</th>
            <th>Математические методы</th>
        </tr>
        <th:block th:each="student : ${students}">
            <tr>
                <td th:text="${student.id}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.middleName}"></td>
                <td th:text="${student.studyGroup}"></td>
                <td th:text="${student.phone}"></td>
                <td th:text="${student.country}"></td>
                <td th:text="${student.city}"></td>
                <td th:text="${student.address}"></td>
                <td th:text="${student.gender}"></td>
                <td th:text="${student.CNAverageScore}"></td>
                <td th:text="${student.NMAverageScore}"></td>
                <td th:text="${student.MMAverageScore}"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>